body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    min-height: 10%;
    background-color: darkcyan;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.encabezado {
    display: flex;
    align-items: center;
}

.encabezado img {
    height: 50px;
    margin-right: 10px;
}

body {
    background-color:bisque;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

section {
    margin: 5%;
}

.contenedor-religion {
    background-color: aliceblue;
    display: flex;
    padding: 50px;
    text-align:justify;
    margin: 5%;
}

.religion {
    float: left;
    margin-right: 30px;
}

.contenedor-imagen {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}

.contenedor-imagen img {
    width: 80%;
    border-radius: 10px;
}

.religion table {
    border-radius: 10px;
}

.religion table td:nth-child(1) {
    background-color: aqua;
}

footer {
    padding: 100px 0;
    background: rgba(192, 192, 192, 0.9);
}

hr{
    background-color: #333;
    height: 5px;
}

.contenedor-folclore {
    width: auto;
    padding: 50px;
    margin: 5%;
    display: grid;
    grid-template-areas: ".folclore1"
                         ".contenedor-carnaval .img-carnaval" 
                         ".contenedor-yaravi .img-yaravi"
                         ".contenedor-pampena .img-pampena";
    background-color: aliceblue;
}

.contenedor-folclore img {
    object-fit: cover;
    width: 300px;
    border-radius: 10px;
}

.contenedor-cocina {
    
}



